/* APP */
:root {
  --background-color: #222;
  --letter-color: #000;

  --main-color: #fff;
  --button-color: #eee;

  --shadow-color: 0px 0px 10px #000;
  --blocker-color: #00000071;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--letter-color);
  transition: opacity 300ms;
}

button {
  padding: 10px 30px;
  border-radius: 25px;
  background-color: var(--button-color);
  border: 1px solid var(--background-color);
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 300ms;
}

button:hover {
  transform: scale(1.1);
}

.page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .page {
    grid-template-columns: 1fr;
  }

  .cv {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .specific-content-details-container {
    grid-template-columns: 1fr;
  }

  .categories {
    top: 0%;
    transform: translate(-50%, 50%);
    width: 350px;
  }

  .specific-content input:first-child {
    width: 150px;
  }
}
