/* GENERAL */
:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  transition: opacity 300ms;
}

button {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.page {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* CONTENTS */
.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
}

.specific-content {
  position: relative;

  background: #eee;
  color: #222;
  padding: 20px;
  border-radius: 50px;
  cursor: default;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.specific-content.hide {
  cursor: pointer;
}

.specific-content.hide:hover {
  opacity: 0.7;
}

.specific-content-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.specific-content-title img {
  cursor: pointer;
  width: 25px;
}

.specific-content-title img:hover {
  opacity: 0.7;
}

.specific-content-title img:last-of-type {
  margin-left: auto;
}

/* details */
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-list > h3 {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.form-list > button {
  box-shadow: 0px 0px 10px #222;
}

.list-item {
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.section > label {
  font-weight: bolder;
}

.specific-content input,
.section > input,
.specific-content > textarea,
.section > textarea {
  padding: 5px;
  border-radius: 25px;
  resize: none;
}

.contents > button {
  align-self: center;
}

/* CATEGORIES */
.categories {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

  width: 500px;
  padding: 50px;
  border-radius: 50px;

  background-color: #eee;
  box-shadow: 0px 0px 10px #222;
}

.categories > button {
  box-shadow: 0px 0px 10px #222;
}

.categories > button:last-of-type {
  color: #eee;
  background-color: #222;
}

/* DELETE MENU */
.delete-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 50px;
  border-radius: 25px;

  color: #eee;
  background-color: #222;
}

/* CV */
.cv {
  margin: 50px;
  padding: 50px;

  height: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #fff;
  color: #222;
}
