/* CV */
.cv {
  margin: 50px;
  padding: 50px;

  height: 1200px;
  min-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #fff;
  color: #222;

  cursor: zoom-in;
}

.cv.zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  box-shadow: 0px 0px 10px #111;
  cursor: zoom-out;
  z-index: 2;
}

.blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000071;
  z-index: 1;
}

/* PERSONAL DETAILS */
.section-0 {
  display: flex;
  align-items: flex-end;
  justify-content: start;

  flex-wrap: wrap;
  gap: 20px;
}

.section-0 .section-title {
  display: none;
}

.section-0 .section-name {
  font-size: 2rem;
  font-weight: bolder;
}

.section-0 .section-job {
  font-size: 1.3rem;
  grid-area: job;
}

.section-0 a {
  color: #111;
}

/* OTHER SECTIONS */
.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid #222;
  margin-bottom: 5px;
}

.list-item {
  margin-bottom: 20px;
}

.section-2 .list-item,
.section-3 .list-item {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 0.15fr 0.15fr;
  grid-template-areas: "name start end" "sub-name  place place";
}

.section-2 .list-item-name,
.section-3 .list-item-name,
.section-4 .list-item-name {
  font-weight: bolder;
  grid-area: name;
}

.section-2 .list-item-employer,
.section-3 .list-item-school {
  font-style: italic;
  grid-area: sub-name;
}

.section-2 .list-item-place,
.section-3 .list-item-place {
  grid-area: place;
}

.section-2 .list-item-start,
.section-3 .list-item-start {
  grid-area: start;
}

.section-2 .list-item-start::after,
.section-3 .list-item-start::after {
  content: ",";
}

.section-2 .list-item-end,
.section-3 .list-item-end {
  grid-area: end;
}
