/* FORMS LIST */
.forms-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forms-list > p {
  font-weight: bolder;
}

.forms-list > h3 {
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--letter-color);
  border-radius: 10px;
  transition: transform 300ms;
}

.forms-list > h3.active {
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  color: var(--main-color);
}

.forms-list > h3:hover {
  transform: scale(1.05);
}

.edit-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-list-item-images {
  align-self: flex-end;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.form > label {
  font-weight: bolder;
}
